@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 80px;
}

.directory-menu{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item{
  min-width: 30%;
  height: 240px;
  display: flex;
  flex:1 1 auto;
  margin: 0 7.5px 15px;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.is-large{
  height: 380px;
}


 
 